::after , 
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url(https://fonts.google.com/specimen/Red+Hat+Display);
:root {
    --Pale-blue: hsl(225, 100%, 94%);
  --bright : hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
     --Dark-blue: hsl(223, 47%, 23%);
     --font:'Red Hat Display';
}
body{
   background: var( --Pale-blue );
   width: 100%;
   height: 100vh;
    box-sizing: border-box;
    font-family:'Open Sans',sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;   
}
.bg{
    position: absolute;
    top: -5%;
    width: 100%;
    height: 55vh;

}
.con{
height: 80vh;
width: 23%;
min-height: 460px;
min-width: 260px;
background: #ffffff;
border-radius: 10%;
z-index: 1;
box-shadow: 6px 6px 5px #b4d9e4;


}

.img1{ 
    height: auto; 
    width: 100%;
    border-radius: 10% 10% 0  0;  

}
.con2{
    display: flex;
    justify-content: center;
    position: static;
}
.card-content{
min-height: 350px;
  width: 80%;
   display: flex;
   justify-content: center;
   flex-direction:column ;

}
   
h3{
    
    font-weight: 900;
    text-align: center;
color: var(--Dark-blue);
}
.t0{
    font-size: 0.8rem;
font-weight: 300;
   color: var(  --Desaturated-blue);
   text-align-last: center;

}

.annuel-plan{
    width: 100%;
    height:4em;
    border-radius: 0.9rem;
    background:var( --Very-pale-blue);
    display: flex;
    align-items: center;
   justify-content: space-between;
}
.ap{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}
.icn{
    width: 2em;
}
 .text2{
     height: 50%;
 margin-left: 6%;
 font-size: 0.75em;
}
.t1{
    margin: 0em;
font-weight: 700;
}
.t2{
    margin: 0.1em;
    color: var(  --Desaturated-blue)
}

.change{
width: 30%;
height: 100%;
display: flex;
align-items: center;
}
.change a{
    color: var(--bright);
    font-size: 0.7rem;
    font-weight: 900;
}
.change a:hover{
        opacity: 0.7;
        cursor: grab;
}
.ptp{
    width: 100%;
    height: 5rem;
    display: flex;
align-items: center;

  
}
.ptp:hover{
    opacity: 0.7;
    cursor: grab;
}
.payement{
    width: 100%;
    height: 2.8em;
background: var( --bright);   
border-radius: 0.5rem;
box-shadow: 0px 5px 10px 3px var(--Pale-blue);
display: flex;
align-items: center;
justify-content: center;
color: azure;
font-size: 0.8rem;

}
.cancel{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.cancel a{
    color: var(--Desaturated-blue);
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 900;
}
.cancel a:hover{
    color: var(--Dark-blue);
    cursor: grab;
}
@media screen and (max-width:500px) {
    .con{height: 375px;}
}